<body>
  <div x-init=" await $nextTick(); $($el).find('.dropdown-toggle').dropdown()">
    <!-- BEGIN: Need to include all the styles in here -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/paper-kit.css"/>
    <link rel="stylesheet" href="/assets/css/styles.css"/>
    <link rel="stylesheet" href="/assets/css/magnific-popup.css"/>
    <!-- END : Need to include all the styles in here -->

    <h2 class="title margin-top" >
      <div class="nav-item dropdown">
        Características<a class="dropdown-toggle" data-toggle="dropdown" id="caracteristicasDropdownMenuButton" href="#" role="button" aria-haspopup="true" aria-expanded="false"
                          ></a>
        <ul class="dropdown-menu dropdown-info" aria-labelledby="caracteristicasDropdownMenuButton">
          <li class="dropdown-header">Características</li>
          <template x-for="caracteristica in caracteristicas">
            <a class="dropdown-item" data-toggle="tab" :href="'#caracteristicas' + caracteristica.id" x-text="caracteristica.nombre"
               x-init="await $nextTick(); $($el).on('click', function (e) {
  console.log($(this).attr('href'));
  $($(this).attr('href')).show();
})"
              ></a>
          </template>
        </ul>
      </div>
    </h2>
    <div class="tab-content text-left">
      <template x-for="(caracteristica, index) in caracteristicas">
        <div class="tab-pane" :class="index == 0 ? 'active': ''" x-bind:id="'caracteristicas' + caracteristica.id" role="tabpanel"
             x-init="await $nextTick(); $($el).tab()">
          <h4 x-text="caracteristica.nombre"></h4>
          <p x-markdown="caracteristica.descripcion"></p>
          <template x-for="seccion in caracteristica.secciones">
            <x-component-wrapper x-component url="/templates/components/secciones.html"
                                 x-data="{ seccion: seccion }" >
            </x-component-wrapper>
          </template>
          <template x-if="caracteristica.galeria != null && caracteristica.galeria.length > 0">
            <div x-init="$nextTick(() => $($el).find('a.gallery-item').magnificPopup({ type: 'image', tLoading: 'Cargando imagen...', gallery:{ enabled:true } }))">
              <template x-for="imagen in caracteristica.galeria">
                <a class="gallery-item" x-bind :href="`https://www.morfologia-vegetal.info${(imagen.url)}`" :title="imagen.caption">
                  <img x-bind class="img-thumbnail" :src="`https://www.morfologia-vegetal.info${imagen.formats.thumbnail.url}`" />
                </a>
              </template>
            </div>
          </template>
        </div>
      </template>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>
  </div>
</body>
