<body>
    <div>
      <!-- BEGIN: Need to include all the styles in here -->
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

      <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="/assets/css/paper-kit.css"/>
      <link rel="stylesheet" href="/assets/css/styles.css"/>
      <link rel="stylesheet" href="/assets/css/magnific-popup.css"/>
      <!-- END : Need to include all the styles in here -->

      <div class="title"><h3 x-text="seccion.titulo"></h3></div>
      <p x-markdown="seccion.contenido"></p>
      <template x-for="subseccion in seccion.subsecciones">
        <div>
          <h5 x-text="subseccion.titulo"></h5>
          <p x-markdown="subseccion.contenido"></p>
          <template x-if="subseccion.galeria != null && subseccion.galeria.length > 0">
            <div x-init="$nextTick(() => $($el).find('a.gallery-item').magnificPopup({ type: 'image', tLoading: 'Cargando imagen #%curr%...', gallery:{ enabled:true } }))">
              <template x-for="imagen in subseccion.galeria">
                <a class="gallery-item" x-bind :href="`https://www.morfologia-vegetal.info${(imagen.formats.large?.url ?? imagen.formats.medium?.url)}`" :title="imagen.caption">
                  <img x-bind class="img-thumbnail" :src="`https://www.morfologia-vegetal.info${imagen.formats.medium.url}`" />
                </a>
              </template>
            </div>
          </template>
        </div>
      </template>

      <template x-if="seccion.galeria != null && seccion.galeria.length > 0">
        <div x-init="$nextTick(() => $($el).find('a.gallery-item').magnificPopup({ type: 'image', tLoading: 'Cargando imagen #%curr%...', gallery:{ enabled:true } }))">
          <template x-for="imagen in seccion.galeria">
            <a class="gallery-item" x-bind :href="`https://www.morfologia-vegetal.info${(imagen.formats.large?.url ?? imagen.formats.medium?.url)}`" :title="imagen.caption">
              <img x-bind class="img-thumbnail" :src="`https://www.morfologia-vegetal.info${imagen.formats.thumbnail.url}`" />
            </a>
          </template>
        </div>
      </template>
    </div>
</body>
