<body>
    <div>
      <!-- BEGIN: Need to include all the styles in here -->
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

      <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="/assets/css/paper-kit.css"/>
      <link rel="stylesheet" href="/assets/css/styles.css"/>
      <link rel="stylesheet" href="/assets/css/magnific-popup.css"/>
      <!-- END : Need to include all the styles in here -->

      <template x-for="seccion in secciones">
        <div>
          <div class="title"><h3 x-text="seccion.titulo"></h3></div>
          <p x-markdown="seccion.contenido"></p>
          <template x-for="subseccion in seccion.subsecciones">
            <div>
              <h5 x-text="subseccion.titulo"></h5>
              <p x-markdown="subseccion.contenido"></p>
              <x-component-wrapper x-component url="/templates/components/galeria.html" x-data="{ galeria: subseccion.galeria }" ></x-component-wrapper>
            </div>
          </template>

          <x-component-wrapper x-component url="/templates/components/galeria.html" x-data="{ galeria: seccion.galeria }" ></x-component-wrapper>
        </div>
      </template>
    </div>
</body>
