
<div
  x-data="{adaptacion: { galeria: [] }, index: -1 }"
  x-init="adaptacion = await $fetch(`https://www.morfologia-vegetal.info/adaptacions/${$router.params.id}`); index = Math.floor(Math.random() * adaptacion.galeria.length)"

>
  <template x-if="adaptacion.titulo">
    <div>
      <div class="page-header page-header-xs section-dark"
           :style="`background-image: url('https://www.morfologia-vegetal.info${adaptacion.galeria[index].url}')`" >
        <div class="filter"></div>
        <div class="content-center">
          <div class="container">
            <div class="title-brand"><h1 x-text="adaptacion.titulo"></h1></div>
          </div>
        </div>
      </div>
      <nav  class="navbar navbar-expand-sm bg-dark d-none d-sm-block">
        <div  class="container">
          <div  >
            <a x-link href="/" class="text-white">Inicio</a> <i class="fa fa-chevron-right align-middle text-secondary" ></i>
            <span class="text-white">Adaptaciones</span> <i class="fa fa-chevron-right align-middle text-secondary" ></i>
            <div class="dropdown" style="display: inline">
              <a class="nav-link dropdown-toggle text-white active pl-0 pr-0" data-toggle="dropdown" style="cursor:pointer; display:inline;"><b x-text="adaptacion.titulo"></b></a><template x-if="estructura.subestructuras.length > 0">  <i class="fa fa-chevron-right align-middle text-secondary" ></i></template>
              <ul class="dropdown-menu ">
                <template x-for="unaAdaptacion in adaptaciones">
                  <template x-if="unaAdaptacion.id != adaptacion.id">
                    <li><a class="dropdown-item" x-link :href="`/adaptacion/` + unaAdaptacion.id" x-text="unaAdaptacion.titulo"></a></li>
                  </template>
                </template>
              </ul>
            </div>
          </div>
          <ul class="navbar-nav ml-auto"><li class="nav-item"><a class="nav-link">&nbsp;</a></li></ul>
        </div>
      </nav>

      <div class="section section-gray">
        <div class="container">
          <div class="row">
            <div class="col-md-3" x-show="adaptacion.galeria.length > 0">
              <div x-init="$nextTick(() => $($el).find('.gallery-item').magnificPopup({ type: 'image', tLoading: 'Cargando imagen #%curr%...', gallery:{ enabled:true } }))">
                <template x-for="(imagen, index) in adaptacion.galeria" >
                  <a class="gallery-item" x-bind :href="'https://www.morfologia-vegetal.info' + (imagen.url)" :title="imagen.caption">
                    <img width="200" style="max-height: 90vh" class="" x-bind :src="'https://www.morfologia-vegetal.info' + (imagen.formats.medium?.url ?? imagen.formats.thumbnail?.url)" />
                  </a>
                </template>
              </div>
            </div>
            <div :class="{'col-md-9': adaptacion.galeria.length > 0, 'col-md-12': adaptacion.galeria.length === 0 }">
              <p x-markdown="adaptacion.descripcion"></p>
              <x-component-wrapper x-component url="/templates/components/secciones.html" x-data="{ secciones: adaptacion.secciones }" ></x-component-wrapper>
            </div>
          </div>

        </div>
      </div>
    </div>
  </template>

</div>
