
<div
  x-data="{contenido: { galeria: [], cabecera: [] }, index: -1 }"
  x-init="contenido = await $fetch(`https://www.morfologia-vegetal.info/contenidos/${$router.params.id}`); index = Math.floor(Math.random() * contenido.cabecera.length)"

>
  <template x-if="contenido.titulo">
    <div>
      <div class="page-header page-header-xs section-dark"
           :style="`background-image: url('https://www.morfologia-vegetal.info${contenido.cabecera[index].url}')`" >
        <div class="filter"></div>
        <div class="content-center">
          <div class="container">
            <div class="title-brand"><h1 x-text="contenido.titulo"></h1></div>
          </div>
        </div>
      </div>

      <div class="section section-gray">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <div x-init="$nextTick(() => $($el).find('.gallery-item').magnificPopup({ type: 'image', tLoading: 'Cargando imagen #%curr%...', gallery:{ enabled:true } }))">
                <template x-for="(imagen, index) in contenido.galeria" >
                  <a class="gallery-item" x-bind :href="'https://www.morfologia-vegetal.info' + (imagen.formats.large?.url ?? imagen.formats.medium?.url)" :title="imagen.caption">
                    <img width="200" style="max-height: 90vh" class="" x-bind :src="'https://www.morfologia-vegetal.info' + (imagen.formats.medium?.url ?? imagen.formats.thumbnail?.url)" />
                  </a>
                </template>
              </div>
            </div>
            <div class="col-sm-9">
              <p x-markdown="contenido.descripcion"></p>
              <x-component-wrapper x-component url="/templates/components/secciones.html" x-data="{ secciones: contenido.secciones }" ></x-component-wrapper>
            </div>
          </div>

        </div>
      </div>
    </div>
  </template>

</div>
