
<div
  x-data="{contenido: { galeria: [], cabecera: [] }, index: -1 }"
  x-init="
  loading = true;
  contenido = (await $fetch(`https://strapi.morfologiavegetal.info/contenidos?titulo=${$router.params.id.replaceAll('-', ' ')}`))[0];
  index = Math.floor(Math.random() * contenido.cabecera.length);
  loading = false;"

>
  <template x-if="contenido.titulo">
    <div x-head.title="'Morfología Vegetal - ' + contenido.titulo">
      <div class="page-header page-header-xs section-dark"
           :style="`background-image: url('https://strapi.morfologiavegetal.info${contenido.cabecera[index].url}')`" >
        <div class="filter"></div>
        <div class="content-center">
          <div class="container">
            <div class="title-brand"><h1 x-text="contenido.titulo"></h1></div>
          </div>
        </div>
      </div>

      <div class="section section-gray">
        <div class="container">
          <div class="row">
            <div class="col-md-3" x-show="contenido.galeria.length > 0">
              <x-component-wrapper x-component url="/templates/components/columna-galeria.html" x-data="{ galeria: contenido.galeria }" ></x-component-wrapper>
            </div>
            <div :class="{'col-md-9': contenido.galeria.length > 0, 'col-md-12': contenido.galeria.length === 0 }">
              <p x-markdown="contenido.descripcion"></p>
              <x-component-wrapper x-component url="/templates/components/secciones.html" x-data="{ secciones: contenido.secciones }" ></x-component-wrapper>
            </div>
          </div>

        </div>
      </div>
    </div>
  </template>

</div>
