<div
  x-data="{estructura: { galeria: [], cabecera: [] }, index: -1 }"
  x-init="estructura = await $fetch(`https://www.morfologia-vegetal.info/estructuras/${$router.params.id}`); index = Math.floor(Math.random() * estructura.cabecera.length)"
>
  <template x-if="estructura.nombre">
    <div>
      <div class="page-header page-header-xs section-dark"
           :style="`background-image: url('https://www.morfologia-vegetal.info${estructura.cabecera[index].url}')`" >
        <div class="filter"></div>
        <div class="content-center">
          <div class="container">
            <div class="title-brand"><h1 x-text="estructura.nombre"></h1></div>
          </div>
        </div>
      </div>
      <nav  class="navbar navbar-expand-sm bg-dark d-none d-sm-block">
        <div  class="container">
          <div  >
            <a x-link href="/" class="text-white">Inicio</a> <i class="fa fa-chevron-right align-middle" ></i>
            <div class="dropdown" style="display: inline">
              <a class="nav-link dropdown-toggle text-white active pl-0 pr-0" data-toggle="dropdown" style="cursor:pointer; display:inline;"><b x-text="estructura.nombre"></b></a><template x-if="estructura.subestructuras.length > 0">  <i class="fa fa-chevron-right align-middle" ></i></template>
              <ul class="dropdown-menu ">
                <template x-for="unaEstructura in estructuras">
                  <template x-if="unaEstructura.id != estructura.id">
                    <li><a class="dropdown-item" x-link :href="`/estructura/` + unaEstructura.id" x-text="unaEstructura.nombre"></a></li>
                  </template>
                </template>
              </ul>
            </div>

            <template x-if="estructura.subestructuras.length > 0">
              <div class="dropdown" style="display: inline">
                <a class="nav-link dropdown-toggle text-white pl-0" data-toggle="dropdown" style="cursor:pointer; display:inline;">Partes</a>
                <ul class="dropdown-menu ">
                  <template x-for="subestructura in estructura.subestructuras">
                    <li><a class="dropdown-item" x-link :href="`/subestructura/${subestructura.id}`" x-text="subestructura.nombre"></a></li>
                  </template>
                </ul>
              </div>
            </template>

          </div>
          <ul class="navbar-nav ml-auto"><li class="nav-item"><a class="nav-link">&nbsp;</a></li></ul>
        </div>
      </nav>

      <div class="section-navigation section-gray pb-5">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="nav-tabs-navigation text-left">
                <div class="nav-tabs-wrapper">
                  <ul id="tabs" class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#descripcion" role="tab"><h3>Descripción</h3></a>
                    </li>
                    <template x-if="estructura.caracteristicas != null && estructura.caracteristicas.length > 0">
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#caracteristicas" role="tab"><h3>Características</h3></a>
                      </li>
                    </template>
                    <template x-if="estructura.funciones != null && estructura.funciones.length > 0">
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#funciones" role="tab"><h3>Funciones</h3></a>
                      </li>
                    </template>
                    <template x-if="estructura.adaptaciones != null && estructura.adaptaciones.length > 0">
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#adaptaciones" role="tab"><h3>Adaptaciones</h3></a>
                      </li>
                    </template>
                    <template x-if="estructura.tipos != null && estructura.tipos.length > 0">
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#morfologias" role="tab"><h3>Tipos</h3></a>
                      </li>
                    </template>
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div x-init="$nextTick(() => $($el).find('.gallery-item').magnificPopup({ type: 'image', tLoading: 'Cargando imagen #%curr%...', gallery:{ enabled:true } }))">
                <template x-for="(imagen, index) in estructura.galeria" >
                  <a class="gallery-item" x-bind :href="'https://www.morfologia-vegetal.info' + (imagen.url)" :title="imagen.caption">
                    <img width="200" class="" x-bind :src="'https://www.morfologia-vegetal.info' + imagen.formats.medium.url" />
                  </a>
                </template>
              </div>
            </div>
            <div class="col-md-9">
              <div class="tab-content text-left">
                <div class="tab-pane active" id="descripcion" role="tabpanel">
                  <p x-markdown="estructura.descripcion"></p>
                  <x-component-wrapper x-component url="/templates/components/secciones.html" x-data="{ secciones: estructura.secciones }" ></x-component-wrapper>
                </div>
                <template x-if="estructura.caracteristicas != null && estructura.caracteristicas.length > 0">
                  <div class="tab-pane" id="caracteristicas" role="tabpanel">
                    <div class="tab-content text-left">
                      <template x-for="(caracteristica, index) in estructura.caracteristicas">
                        <div class="tab-pane" :class="index == 0 ? 'active': ''" x-bind:id="'caracteristicas' + caracteristica.id" role="tabpanel">
                          <div class="title" style="margin-top: 0;">
                            <div class="nav-item dropdown d-inline-block">
                              <a class="dropdown-toggle h3" data-toggle="dropdown" href="#pk" role="button" aria-haspopup="true" aria-expanded="false" x-text="caracteristica.nombre">
                              </a>
                              <ul class="dropdown-menu dropdown-info">
                                <li class="dropdown-header">Características</li>
                                <template x-for="caracteristica in estructura.caracteristicas">
                                  <a class="dropdown-item" data-toggle="tab" :href="'#caracteristicas' + caracteristica.id" role="tab" x-text="caracteristica.nombre">Action</a>
                                </template>
                              </ul>
                            </div>

                           </div>
                          <p x-markdown="caracteristica.descripcion"></p>
                          <x-component-wrapper x-component url="/templates/components/secciones.html" x-data="{ secciones: caracteristica.secciones }" ></x-component-wrapper>
                          <x-component-wrapper x-component url="/templates/components/galeria.html" x-data="{ galeria: caracteristica.galeria }" ></x-component-wrapper>
                        </div>
                      </template>
                    </div>
                  </div>
                </template>
                <template x-if="estructura.adaptaciones != null && estructura.adaptaciones.length > 0">
                  <div class="tab-pane" id="adaptaciones" role="tabpanel">
                    <div class="tab-content text-left">
                      <template x-for="(adaptacion, index) in estructura.adaptaciones">
                        <div class="tab-pane" :class="index == 0 ? 'active': ''" x-bind:id="'adaptaciones' + adaptacion.id" role="tabpanel">
                          <div class="title" style="margin-top: 0;">
                            <div class="nav-item dropdown d-inline-block">
                              <a class="dropdown-toggle h3" data-toggle="dropdown" href="#pk" role="button" aria-haspopup="true" aria-expanded="false" x-text="adaptacion.titulo">
                              </a>
                              <ul class="dropdown-menu dropdown-info">
                                <li class="dropdown-header">Adaptaciones</li>
                                <template x-for="adaptacion in estructura.adaptaciones">
                                  <a class="dropdown-item" data-toggle="tab" :href="'#adaptaciones' + adaptacion.id" role="tab" x-text="adaptacion.titulo"></a>
                                </template>
                              </ul>
                            </div>
                          </div>
                          <p x-markdown="adaptacion.descripcion"></p>
                          <x-component-wrapper x-component url="/templates/components/secciones.html" x-data="{ secciones: adaptacion.secciones }" ></x-component-wrapper>
                          <x-component-wrapper x-component url="/templates/components/galeria.html" x-data="{ galeria: adaptacion.galeria }" ></x-component-wrapper>
                        </div>
                      </template>
                    </div>
                  </div>
                </template>
                <template x-if="estructura.funciones != null && estructura.funciones.length > 0">
                  <div class="tab-pane" id="funciones" role="tabpanel">
                    <div class="tab-content text-left">
                      <template x-for="(funcion, index) in estructura.funciones">
                        <div class="tab-pane" :class="index == 0 ? 'active': ''" x-bind:id="'funciones' + funcion.id" role="tabpanel">
                          <div class="title" style="margin-top: 0;">
                            <div class="nav-item dropdown d-inline-block">
                              <a class="dropdown-toggle h3" data-toggle="dropdown" href="#pk" role="button" aria-haspopup="true" aria-expanded="false" x-text="funcion.titulo">
                              </a>
                              <ul class="dropdown-menu dropdown-info">
                                <li class="dropdown-header">Funciones</li>
                                <template x-for="funcion in estructura.funciones">
                                  <a class="dropdown-item" data-toggle="tab" :href="'#funciones' + funcion.id" role="tab" x-text="funcion.titulo"></a>
                                </template>
                              </ul>
                            </div>
                          </div>
                          <p x-markdown="funcion.description"></p>
                          <x-component-wrapper x-component url="/templates/components/secciones.html" x-data="{ secciones: funcion.secciones }" ></x-component-wrapper>
                          <x-component-wrapper x-component url="/templates/components/galeria.html" x-data="{ galeria: funcion.galeria }" ></x-component-wrapper>
                        </div>
                      </template>
                    </div>
                  </div>
                </template>
                <template x-if="estructura.tipos != null && estructura.tipos.length > 0">
                  <div class="tab-pane" id="morfologias" role="tabpanel">
                    <div class="tab-content text-left">
                      <template x-for="(morfologia, index) in estructura.tipos">
                        <div class="tab-pane" :class="index == 0 ? 'active': ''" x-bind:id="'morfologias' + morfologia.id" role="tabpanel">
                          <div class="title" style="margin-top: 0;">
                            <div class="nav-item dropdown d-inline-block">
                              <a class="dropdown-toggle h3" data-toggle="dropdown" href="#pk" role="button" aria-haspopup="true" aria-expanded="false" x-text="morfologia.titulo">
                              </a>
                              <ul class="dropdown-menu dropdown-info">
                                <li class="dropdown-header">Tipos</li>
                                <template x-for="morfologia in estructura.tipos">
                                  <a class="dropdown-item" data-toggle="tab" :href="'#morfologias' + morfologia.id" role="tab" x-text="morfologia.titulo"></a>
                                </template>
                              </ul>
                            </div>
                          </div>
                          <p x-markdown="morfologia.descripcion"></p>
                          <x-component-wrapper x-component url="/templates/components/secciones.html" x-data="{ secciones: morfologia.secciones }" ></x-component-wrapper>
                          <x-component-wrapper x-component url="/templates/components/galeria.html" x-data="{ galeria: morfologia.galeria }" ></x-component-wrapper>
                          <div x-data="{ unaMorfologia: { subtipos: [] } }"
                                    x-init="unaMorfologia = await $fetch(`https://www.morfologia-vegetal.info/morfologias/${morfologia.id}`);">
                            <template x-for="subtipo in unaMorfologia.subtipos">
                              <div>
                                <div class="title"><h3 x-text="subtipo.titulo"></h3></div>
                                <p x-markdown="subtipo.description"></p>
                                <x-component-wrapper x-component url="/templates/components/galeria.html" x-data="{ galeria: subtipo.galeria }" ></x-component-wrapper>
                              </div>
                            </template>
                          </div>
                        </div>
                      </template>
                    </div>
                  </div>
                </template>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </template>

</div>
