<div
  x-data="{estructura: { galeria: [], cabecera: [] }, index: -1 }"
  x-init="estructura = await $fetch(`https://www.morfologia-vegetal.info/estructuras/${$router.params.id}`); index = Math.floor(Math.random() * estructura.cabecera.length)"
>
  <template x-if="estructura.nombre">
    <div>
      <div class="page-header page-header-xs section-dark"
           :style="`background-image: url('https://www.morfologia-vegetal.info${estructura.cabecera[index].formats.large?.url ?? estructura.cabecera[index].formats.medium?.url}')`" >
        <div class="filter"></div>
        <div class="content-center">
          <div class="container">
            <div class="title-brand"><h1 x-text="estructura.nombre"></h1></div>
          </div>
        </div>
      </div>
      <nav  class="navbar navbar-expand-sm bg-dark d-none d-sm-block">
        <div  class="container">
          <div  >
            <a x-link href="/" class="text-white">Inicio</a> <i class="fa fa-chevron-right align-middle" ></i>
            <div class="dropdown" style="display: inline">
              <a class="nav-link dropdown-toggle text-white active pl-0 pr-0" data-toggle="dropdown" style="cursor:pointer; display:inline;"><b x-text="estructura.nombre"></b></a><template x-if="estructura.subestructuras.length > 0">  <i class="fa fa-chevron-right align-middle" ></i></template>
              <ul class="dropdown-menu ">
                <template x-for="unaEstructura in estructuras">
                  <template x-if="unaEstructura.id != estructura.id">
                    <li><a class="dropdown-item" x-link :href="`/estructura/` + unaEstructura.id" x-text="unaEstructura.nombre"></a></li>
                  </template>
                </template>
              </ul>
            </div>

            <template x-if="estructura.subestructuras.length > 0">
              <div class="dropdown" style="display: inline">
                <a class="nav-link dropdown-toggle text-white pl-0" data-toggle="dropdown" style="cursor:pointer; display:inline;">Partes</a>
                <ul class="dropdown-menu ">
                  <template x-for="subestructura in estructura.subestructuras">
                    <li><a class="dropdown-item" x-link :href="`/subestructura/${subestructura.id}`" x-text="subestructura.nombre"></a></li>
                  </template>
                </ul>
              </div>
            </template>

          </div>
          <ul class="navbar-nav ml-auto"><li class="nav-item"><a class="nav-link">&nbsp;</a></li></ul>
        </div>
      </nav>

      <div class="section section-gray">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div x-init="$nextTick(() => $($el).find('.gallery-item').magnificPopup({ type: 'image', tLoading: 'Cargando imagen #%curr%...', gallery:{ enabled:true } }))">
                <template x-for="(imagen, index) in estructura.galeria" >
                  <a class="gallery-item" x-bind :href="'https://www.morfologia-vegetal.info' + (imagen.formats.large?.url ?? imagen.formats.medium?.url)" :title="imagen.caption">
                    <img width="200" class="" x-bind :src="'https://www.morfologia-vegetal.info' + imagen.formats.medium.url" />
                  </a>
                </template>
              </div>
            </div>
            <div class="col-md-9">
              <h2 class="title">Descripción</h2>
              <p x-markdown="estructura.descripcion"></p>
              <x-component-wrapper x-component url="/templates/components/secciones.html" x-data="{ secciones: estructura.secciones }" ></x-component-wrapper>
              <template x-if="estructura.caracteristicas != null && estructura.caracteristicas.length > 0">
                <div>
                  <h2 class="title margin-top">
                    <div class="nav-item dropdown">
                      Características<a class="dropdown-toggle" data-toggle="dropdown" id="caracteristicasDropdownMenuButton" href="#pk" role="button" aria-haspopup="true" aria-expanded="false"></a>
                      <ul class="dropdown-menu dropdown-info" aria-labelledby="caracteristicasDropdownMenuButton">
                        <li class="dropdown-header">Características</li>
                        <template x-for="caracteristica in estructura.caracteristicas">
                          <a class="dropdown-item" data-toggle="tab" :href="'#caracteristicas' + caracteristica.id" role="tab" x-text="caracteristica.nombre">Action</a>
                        </template>
                      </ul>
                    </div>
                  </h2>
                  <div class="tab-content text-left">
                    <template x-for="(caracteristica, index) in estructura.caracteristicas">
                      <div class="tab-pane" :class="index == 0 ? 'active': ''" x-bind:id="'caracteristicas' + caracteristica.id" role="tabpanel">
                        <div class="title"><h3 x-text="caracteristica.nombre"></h3></div>
                        <p x-markdown="caracteristica.descripcion"></p>
                        <x-component-wrapper x-component url="/templates/components/secciones.html" x-data="{ secciones: caracteristica.secciones }" ></x-component-wrapper>
                        <x-component-wrapper x-component url="/templates/components/galeria.html" x-data="{ galeria: caracteristica.galeria }" ></x-component-wrapper>
                      </div>
                    </template>
                  </div>
                </div>
              </template>
              <template x-if="estructura.funcions != null && estructura.funcions.length > 0">
                <div>
                  <h2 class="title margin-top">
                    <div class="nav-item dropdown">
                      Funciones<a class="dropdown-toggle" data-toggle="dropdown" id="funcionesDropdownMenuButton" href="#pk" role="button" aria-haspopup="true" aria-expanded="false"></a>
                      <ul class="dropdown-menu dropdown-info" aria-labelledby="funcionesDropdownMenuButton">
                        <li class="dropdown-header">Funciones</li>
                        <template x-for="funcion in estructura.funcions">
                          <a class="dropdown-item" data-toggle="tab" :href="'#funciones' + funcion.id" role="tab" x-text="funcion.titulo">Action</a>
                        </template>
                      </ul>
                    </div>
                  </h2>
                  <div  class="tab-content text-left">
                    <template x-for="(funcion, index) in estructura.funcions">
                      <div class="tab-pane" :class="index == 0 ? 'active': ''" x-bind:id="'funciones' + funcion.id" role="tabpanel">
                        <div class="title"><h3 x-text="funcion.titulo"></h3></div>
                        <p x-markdown="funcion.description"></p>
                        <x-component-wrapper x-component url="/templates/components/secciones.html" x-data="{ secciones: funcion.secciones }" ></x-component-wrapper>
                        <x-component-wrapper x-component url="/templates/components/galeria.html" x-data="{ galeria: funcion.galeria }" ></x-component-wrapper>
                      </div>
                    </template>
                  </div>
                </div>
              </template>
              <template x-if="estructura.adaptaciones != null && estructura.adaptaciones.length > 0">
                <div>
                  <h2 class="title margin-top">
                    <div class="nav-item dropdown">
                      Adaptaciones<a class="dropdown-toggle" data-toggle="dropdown" id="adaptacionesDropdownMenuButton" href="#pk" role="button" aria-haspopup="true" aria-expanded="false"></a>
                      <ul class="dropdown-menu dropdown-info" aria-labelledby="adaptacionesDropdownMenuButton">
                        <li class="dropdown-header">Adaptaciones</li>
                        <template x-for="adaptacion in estructura.adaptaciones">
                          <a class="dropdown-item" data-toggle="tab" :href="'#adaptaciones' + adaptacion.id" role="tab" x-text="adaptacion.titulo">Action</a>
                        </template>
                      </ul>
                    </div>
                  </h2>
                  <div class="tab-content text-left">
                    <template x-for="(adaptacion, index) in estructura.adaptaciones">
                      <div class="tab-pane" :class="index == 0 ? 'active': ''" x-bind:id="'adaptaciones' + adaptacion.id" role="tabpanel">
                        <div class="title"><h3 x-text="adaptacion.titulo"></h3></div>
                        <p x-markdown="adaptacion.descripcion"></p>
                        <x-component-wrapper x-component url="/templates/components/secciones.html" x-data="{ secciones: adaptacion.secciones }" ></x-component-wrapper>
                        <x-component-wrapper x-component url="/templates/components/galeria.html" x-data="{ galeria: adaptacion.galeria }" ></x-component-wrapper>
                      </div>
                    </template>
                  </div>
                </div>
              </template>
              <template x-if="estructura.morfologias != null && estructura.morfologias.length > 0">
                <div>
                  <h2 class="title margin-top">
                    <div class="nav-item dropdown">
                      Tipos<a class="dropdown-toggle" data-toggle="dropdown" id="morfologiasDropdownMenuButton" href="#pk" role="button" aria-haspopup="true" aria-expanded="false"></a>
                      <ul class="dropdown-menu dropdown-info" aria-labelledby="morfologiasDropdownMenuButton">
                        <li class="dropdown-header">Tipos</li>
                        <template x-for="morfologia in estructura.morfologias">
                          <a class="dropdown-item" data-toggle="tab" :href="'#morfologias' + morfologia.id" role="tab" x-text="morfologia.titulo">Action</a>
                        </template>
                      </ul>
                    </div>
                  </h2>
                  <div class="tab-content text-left">
                    <template x-for="(morfologia, index) in estructura.morfologias">
                      <div class="tab-pane" :class="index == 0 ? 'active': ''" x-bind:id="'morfologias' + morfologia.id" role="tabpanel">
                        <div class="title"><h3 x-text="morfologia.titulo"></h3></div>
                        <p x-markdown="morfologia.descripcion"></p>
                        <x-component-wrapper x-component url="/templates/components/secciones.html" x-data="{ secciones: morfologia.secciones }" ></x-component-wrapper>
                        <x-component-wrapper x-component url="/templates/components/galeria.html" x-data="{ galeria: morfologia.galeria }" ></x-component-wrapper>
                      </div>
                    </template>
                  </div>
                </div>
              </template>
            </div>
          </div>

        </div>

      </div>
    </div>
  </template>

</div>
