<div
  x-data="{ subsubestructura: { galeria: [], cabecera: [] }, index: -1,
  subestructura : { cabecera: [], estructura: {}, sub_subestructuras: [] } }"
  x-init="subsubestructura = (await $fetch(`https://strapi.morfologiavegetal.info/sub-subestructuras?nombre=${$router.params.id.replaceAll('-', ' ')}`))[0];
  subestructura = await $fetch(`https://strapi.morfologiavegetal.info/subestructuras/${subsubestructura.subestructura.id}`);
  index = Math.floor(Math.random() * subsubestructura.cabecera.length)"
>
  <template x-if="subsubestructura.nombre && subestructura.nombre">
    <div x-data="{ activeTab:  'descripcion' }" x-head.title="'Morfología Vegetal - ' + subsubestructura.nombre">
      <div class="page-header page-header-xs section-dark"
           :style="`background-image: url('https://strapi.morfologiavegetal.info${subsubestructura.cabecera[index].url}')`" >
        <div class="filter"></div>
        <div class="content-center">
          <div class="container">
            <div class="title-brand"><h1 x-text="subsubestructura.nombre"></h1></div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#" x-text="subsubestructura.nombre"></a>
          <div class="dropdown small" style="display: inline">
            <a class="nav-link font-italic text-white pl-0 pr-0" x-link :href="`/estructura/` + subestructura.estructura.nombre.replaceAll(' ' , '-')" style="cursor:pointer; display:inline;"><span class="text-w" x-text="subestructura.estructura.nombre"></span></a> <i class="fa fa-chevron-right align-middle text-secondary" ></i>
          </div>
          <div class="dropdown small " style="display: inline">
            <a class="nav-link dropdown-toggle font-italic text-white pl-0 pr-0" data-toggle="dropdown" style="cursor:pointer; display:inline;"><span x-text="subestructura.nombre"></span></a>  <i class="fa fa-chevron-right align-middle text-secondary" ></i>
            <ul class="dropdown-menu ">
              <template x-for="unaEstructura in estructuras">
                <template x-if="unaEstructura.id == subestructura.estructura.id">
                  <template x-for="unaSubestructura in unaEstructura.subestructuras">
                    <li><a class="dropdown-item" x-link :href="`/subestructura/` + unaSubestructura.nombre.replaceAll(' ' , '-')" x-text="unaSubestructura.nombre"></a></li>
                  </template>
                </template>
              </template>
            </ul>
          </div>
          <div class="dropdown small " style="display: inline">
            <a class="nav-link dropdown-toggle font-italic text-white active pl-0 pr-0" data-toggle="dropdown" style="cursor:pointer; display:inline;"><b x-text="subsubestructura.nombre"></b></a>
            <template x-if="subestructura.sub_subestructuras.length > 1">
              <ul class="dropdown-menu " >
                <template x-for="unaSubsubestructura in subestructura.sub_subestructuras">
                  <li><a class="dropdown-item" x-link :href="`/sub-subestructura/` + unaSubsubestructura.nombre.replaceAll(' ' , '-')" x-text="unaSubsubestructura.nombre"></a></li>
                </template>
              </ul>
            </template>
          </div>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-danger" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar"></span>
            <span class="navbar-toggler-bar"></span>
            <span class="navbar-toggler-bar"></span>
          </button>
          <div class="navbar-collapse collapse show" id="navbar-danger" style="">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" @click="activeTab = 'descripcion'" :class="{ 'active': activeTab === 'descripcion' }">Descripción</a>
              </li>
              <template x-if="subsubestructura.caracteristicas != null && subsubestructura.caracteristicas.length > 0">
                <div class="nav-item dropdown ">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" :class="{ 'active': activeTab.startsWith('caracteristica') }">
                    Características
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right ">
                    <template x-for="caracteristica in subsubestructura.caracteristicas">
                      <li><a class="dropdown-item" @click="activeTab = 'caracteristica' + caracteristica.id; $head('title', estructura.nombre + ' - ' + caracteristica.nombre)" :class="{ 'active': activeTab === 'caracteristica' + caracteristica.id' }" x-text="caracteristica.nombre"></a></li>
                    </template>
                  </ul>
                </div>
              </template>
              <template x-if="subsubestructura.funciones != null && subsubestructura.funciones.length > 0">
                <div class="nav-item dropdown ">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" :class="{ 'active': activeTab.startsWith('funcion') }">Funciones</a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <template x-for="funcion in subsubestructura.funciones">
                      <li><a class="dropdown-item" @click="activeTab = 'funcion' + funcion.id; $head('title', estructura.nombre + ' - ' + funcion.tituloe)" :class="{ 'active': activeTab === 'funcion' + funcion.id }" x-text="funcion.titulo"></a></li>
                    </template>
                  </ul>
                </div>
              </template>
              <template x-if="subsubestructura.adaptaciones != null && subsubestructura.adaptaciones.length > 0">
                <div class="nav-item dropdown ">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" :class="{ 'active': activeTab.startsWith('adaptaction') }">Adaptaciones</a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <template x-for="adaptacion in subsubestructura.adaptaciones">
                      <li><a class="dropdown-item" @click="activeTab = 'adaptacion' + adaptacion.id; $head('title', estructura.nombre + ' - ' + adaptacion.titulo)" :class="{ 'active': activeTab === 'adaptacion' + adaptacion.id }" x-text="adaptacion.titulo"></a></li>
                    </template>
                  </ul>
                </div>
              </template>
              <template x-if="subsubestructura.tipos != null && subsubestructura.tipos.length > 0">
                <div class="nav-item dropdown ">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" :class="{ 'active': activeTab.startsWith('morfologia') }">Tipos</a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <template x-for="morfologia in subsubestructura.tipos">
                      <li><a class="dropdown-item" @click="activeTab = 'morfologia' + morfologia.id; $head('title', estructura.nombre + ' - ' + morfologia.titulo)" :class="{ 'active': activeTab === 'morfologia' + morfologia.id' }" x-text="morfologia.titulo"></a></li>
                    </template>
                  </ul>
                </div>
              </template>
            </ul>
          </div>
        </div>
      </nav>

      <div class="section-navigation section-gray pb-5">
        <div class="container">
          <div class="row pt-5">
            <div class="col-md-3" x-show="subsubestructura.galeria.length > 0">
              <div x-init="$nextTick(() => $($el).find('.gallery-item').magnificPopup({ type: 'image', tLoading: 'Cargando imagen...', gallery:{ enabled:true } }))">
                <template x-for="(imagen, index) in subsubestructura.galeria" >
                  <a class="gallery-item" x-bind :href="'https://strapi.morfologiavegetal.info' + (imagen.url)" :title="imagen.caption">
                    <img class="img-fluid" x-bind :src="'https://strapi.morfologiavegetal.info' + imagen.formats.medium.url" />
                  </a>
                </template>
              </div>
            </div>
            <div :class="{'col-md-9': subsubestructura.galeria.length > 0, 'col-md-12': subsubestructura.galeria.length === 0 }">
              <div class="tab-content text-left">
                <div class="tab-pane active" id="descripcion" :class="{ 'active': activeTab === 'descripcion' }">
                  <p x-markdown="subsubestructura.descripcion"></p>
                  <x-component-wrapper x-component url="/templates/components/secciones.html" x-data="{ secciones: subsubestructura.secciones }" ></x-component-wrapper>
                </div>
                <template x-for="(caracteristica, index) in subsubestructura.caracteristicas">
                  <div class="tab-pane" :class="{ 'active': activeTab === 'caracteristica' + caracteristica.id }">
                    <h2 class="mb-3 mt-0" x-text="caracteristica.nombre"></h2>
                    <p x-markdown="caracteristica.descripcion"></p>
                    <x-component-wrapper x-component url="/templates/components/secciones.html" x-data="{ secciones: caracteristica.secciones }" ></x-component-wrapper>
                    <x-component-wrapper x-component url="/templates/components/galeria.html" x-data="{ galeria: caracteristica.galeria }" ></x-component-wrapper>
                  </div>
                </template>
                <template x-for="(adaptacion, index) in subsubestructura.adaptaciones">
                  <div class="tab-pane" :class="{ 'active': activeTab === 'adaptacion' + adaptacion.id }">
                    <p x-markdown="adaptacion.descripcion"></p>
                    <x-component-wrapper x-component url="/templates/components/secciones.html" x-data="{ secciones: adaptacion.secciones }" ></x-component-wrapper>
                    <x-component-wrapper x-component url="/templates/components/galeria.html" x-data="{ galeria: adaptacion.galeria }" ></x-component-wrapper>
                  </div>
                </template>
                <template x-for="(funcion, index) in subsubestructura.funciones">
                  <div class="tab-pane" :class="{ 'active': activeTab === 'funcion' + funcion.id }">
                    <p x-markdown="funcion.description"></p>
                    <x-component-wrapper x-component url="/templates/components/secciones.html" x-data="{ secciones: funcion.secciones }" ></x-component-wrapper>
                    <x-component-wrapper x-component url="/templates/components/galeria.html" x-data="{ galeria: funcion.galeria }" ></x-component-wrapper>
                  </div>
                </template>
                <template x-for="(morfologia, index) in subsubestructura.tipos">
                  <div class="tab-pane" :class="{ 'active': activeTab === 'morfologia' + morfologia.id }">
                    <h2 class="mb-3 mt-0" x-text="morfologia.titulo"></h2>
                    <p x-markdown="morfologia.descripcion"></p>
                    <x-component-wrapper x-component url="/templates/components/secciones.html" x-data="{ secciones: morfologia.secciones }" ></x-component-wrapper>
                    <x-component-wrapper x-component url="/templates/components/galeria.html" x-data="{ galeria: morfologia.galeria }" ></x-component-wrapper>
                    <div x-data="{ unaMorfologia: { subtipos: [] } }"
                         x-init="unaMorfologia = await $fetch(`https://strapi.morfologiavegetal.info/morfologias/${morfologia.id}`);">
                      <template x-for="subtipo in unaMorfologia.subtipos">
                        <div class="pt-5 pb-3">
                          <h4 x-text="subtipo.titulo"></h4>
                          <p x-markdown="subtipo.description"></p>
                          <x-component-wrapper x-component url="/templates/components/secciones.html" x-data="{ secciones: subtipo.secciones }" ></x-component-wrapper>
                          <x-component-wrapper x-component url="/templates/components/galeria.html" x-data="{ galeria: subtipo.galeria }" ></x-component-wrapper>
                        </div>
                      </template>
                    </div>
                  </div>
                </template>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </template>

</div>


