<div
  x-data="{subestructura: { estructura : {}} }"
  x-init="subestructura = await $fetch(`https://www.morfologia-vegetal.info/subestructuras/${$router.params.id}`)"
  @push-state.window="subestructura = await $fetch(`https://www.morfologia-vegetal.info/subestructuras/${$router.params.id}`)"
>
  <div class="page-header page-header-xs section-dark"
       :style="`background-image: url('https://www.morfologia-vegetal.info${subestructura.imagen.formats.large.url}')`" >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand"><h1 x-text="subestructura.nombre"></h1></div>
      </div>
    </div>
  </div>
  <nav  class="navbar navbar-expand-sm bg-dark d-none d-sm-block">
    <div  class="container">
      <div  >
        <a x-link href="/" class="text-white">Inicio</a> <i class="fa fa-chevron-right align-middle" ></i>
        <a x-link x-bind:href="`/#/estructura/${subestructura.estructura.id}`" class="text-white" x-text="subestructura.estructura.nombre"></a> <i class="fa fa-chevron-right align-middle" ></i>
        <a class="text-white active"><b x-text="subestructura.nombre"></b></a>
      </div>
      <ul class="navbar-nav ml-auto"><li class="nav-item"><a class="nav-link">&nbsp;</a></li></ul>
    </div>
  </nav>
  <div class="section section-gray">
    <div class="container">
      <div class="title"><h1 x-text="subestructura.nombre"></h1></div>
      <p x-markdown="subestructura.descripcion"></p>
      <template x-for="seccion in subestructura.secciones">
        <div>
          <div class="title"><h3 x-text="seccion.titulo"></h3></div>
          <p x-markdown="seccion.contenido"></p>

          <template x-for="subseccion in seccion.subsecciones">
            <div>
              <h5 x-text="subseccion.titulo"></h5>
              <p x-markdown="subseccion.contenido"></p>
              <template x-for="imagen in subseccion.galeria">
                <img :src="`https://www.morfologia-vegetal.info${imagen.formats.thumbnail.url}`">
              </template>
            </div>
          </template>

          <template x-for="imagen in seccion.galeria">
            <img  :src="`https://www.morfologia-vegetal.info${imagen.formats.thumbnail.url}`">
          </template>
        </div>
      </template>
      <template x-if="subestructura.galeria != null && subestructura.galeria.length > 0">
        <div>
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <template x-for="(imagen, index) in subestructura.galeria">
                <div :class="index === 0 ? 'carousel-item active' : 'carousel-item'">
                  <img x-bind :src="`https://www.morfologia-vegetal.info${imagen.formats.large.url}`" class="d-block img-fluid" src="https://www.morfologia-vegetal.info/uploads/thumbnail_Bryum_capillare_003_cf_1100_a58e3b9fe1.jpg">
                  <div class="carousel-caption d-none d-md-block">
                    <p x-text="imagen.caption">Ejemplares de musgos (Bryum capillare) con las dos generaciones visibles.</p>
                  </div>
                </div>
              </template>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Siguiente</span>
            </a>
          </div>
        </div>
      </template>
    </div>
    <div class="container">
      <template x-if="subestructura.caracteristicas != null && subestructura.caracteristicas.length > 0">
        <div>
          <div class="title"><h3>Características</h3></div>
          <template x-for="caracteristica in subestructura.caracteristicas">
            <div>
              <div class="title"><h5 x-text="caracteristica.nombre"></h5></div>
              <p x-markdown="caracteristica.descripcion"></p>
              <template x-for="imagen in caracteristica.galeria">
                <img  :src="`https://www.morfologia-vegetal.info${imagen.formats.thumbnail.url}`">
              </template>
              <br/>
            </div>
          </template>
        </div>
      </template>

      <template x-if="subestructura.funciones != null && subestructura.funciones.length > 0">
        <div>
          <div class="title"><h3>Funciones</h3></div>
          <template x-for="funcion in subestructura.funciones">
            <div>
              <div class="title"><h5 x-text="funcion.nombre"></h5></div>
              <p x-markdown="funcion.descripcion"></p>
              <template x-for="imagen in funcion.galeria">
                <img  :src="`https://www.morfologia-vegetal.info${imagen.formats.thumbnail.url}`">
              </template>
              <br/>
            </div>
          </template>
        </div>
      </template>

      <template x-if="subestructura.adaptaciones != null && subestructura.adaptaciones.length > 0">
        <div>
          <div class="title"><h3>Adaptaciones</h3></div>
          <template x-for="adaptacion in subestructura.adaptaciones">
            <div>
              <div class="title"><h5 x-text="adaptacion.nombre"></h5></div>
              <p x-markdown="adaptacion.descripcion"></p>
              <template x-for="imagen in adaptacion.galeria">
                <img  :src="`https://www.morfologia-vegetal.info${imagen.formats.thumbnail.url}`">
              </template>
              <br/>
            </div>
          </template>
        </div>
      </template>

      <template x-if="subestructura.morfologias != null && subestructura.morfologias.length > 0">
        <div>
          <div class="title"><h3>Tipos</h3></div>
          <template x-for="morfologia in subestructura.morfologias">
            <div>
              <div class="title"><h5 x-text="morfologia.nombre"></h5></div>
              <p x-markdown="morfologia.descripcion"></p>
              <template x-for="imagen in morfologia.galeria">
                <img  :src="`https://www.morfologia-vegetal.info${imagen.formats.thumbnail.url}`">
              </template>
              <br/>
            </div>
          </template>
        </div>
      </template>

      <template x-if="subestructura.subsubestructuras != null && subestructura.subsubestructuras.length > 0">
        <div>
          <div class="title"><h3>Subestructuras</h3></div>
          <template x-for="subsubestructura in subestructura.subsubestructuras">
            <div>
              <div class="title"><h5 x-text="subsubestructura.nombre"></h5></div>
              <p x-markdown="subsubestructura.descripcion"></p>
              <template x-for="imagen in subsubestructura.galeria">
                <img  :src="`https://www.morfologia-vegetal.info${imagen.formats.thumbnail.url}`">
              </template>
              <br/>
            </div>
          </template>
        </div>
      </template>

    </div>
  </div>
</div>
<!--<nav id="cd-vertical-nav">
  <ul>
    <ng-container *ngFor="let section of sections; let i = index">
      <li *ngIf="section.name">
        <a [attr.data-number]="i" (click)="smoothScroll(section.id)" style="cursor: pointer">
          <span class="cd-dot"></span>
          <span class="cd-label">{{section.name}}</span>
        </a>
      </li>
    </ng-container>

    <li>
  </ul>
</nav>-->
